header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color:cadetblue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  header a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Roboto", Arial, sans-serif; 
    font-size: 20px; 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
  }